<div class="background">
<form [formGroup]="loginform">
<mat-card class="card">
    <mat-form-field class="input" appearance="outline">
        <input matInput placeholder="Usuario"  [(ngModel)]="Login.username" formControlName="username" #username/>
        <mat-icon matSuffix>person</mat-icon>
        <mat-error  align="start" *ngIf="loginform.controls['username'].dirty && loginform.hasError('required','username')">Es requerido</mat-error>

    </mat-form-field>
    <mat-form-field class="input" appearance="outline">
        <input matInput type="password" placeholder="Contraseña" [(ngModel)]="Login.password" formControlName="password" />
        <mat-icon matSuffix>lock</mat-icon>
        <mat-error  align="start" *ngIf="loginform.controls['password'].dirty && loginform.hasError('required','password')">Es requerido</mat-error>

    </mat-form-field>
     <div class="link">
     <a routerLink="/register">Registrar</a>
     </div>



    <button mat-raised-button class="button"  [disabled]="!(loginform.valid)" (click)="login()" >LOGIN</button>

</mat-card>
</form>
</div>
