<mat-toolbar color="primary" class="bar">

<a>
  <button mat-flat-button color="primary" (click)="LogOut()">Cerrar Sesión</button>
</a>



</mat-toolbar>

<div class="create">
    <button mat-raised-button class="button" color="primary" (click)="openCreate()">Crear</button>
</div>




<div class="search">
<mat-card>
<div>
   
        <mat-form-field class="formselect">
        <mat-label>Filtrado</mat-label>
        <mat-select [(ngModel)]="filter" name="filter">
            <mat-option *ngFor="let fil of filters" [value]="fil">
              {{fil}}
            </mat-option>
          </mat-select>
        </mat-form-field>
    
</div>

<div *ngIf="filter=='Estado'">
    <mat-form-field class="formselect">
        <mat-label>Estado</mat-label>
        <mat-select [(ngModel)]="state" name="state" (selectionChange)="getstate()">
            <mat-option *ngFor="let state of states" [value]="state" >
              {{state}}
            </mat-option>
          </mat-select>
        </mat-form-field>

</div>
<div *ngIf="filter=='Nombre'">
    <form [formGroup]="nameform">
        <mat-form-field class="input" appearance="outline">
            <input matInput placeholder="Nombre"  formControlName="name" [(ngModel)]="name" (input)="getByname()">
        </mat-form-field>
      
    </form>



</div>
<div *ngIf="filter=='Login'">
  <form [formGroup]="usernameform">
      <mat-form-field class="input" appearance="outline">
          <input matInput placeholder="Usuario"  formControlName="username" [(ngModel)]="username" (input)="getbyUsername()">
      </mat-form-field>
    
  </form>



</div>
</mat-card>
</div>











<br>
<div *ngIf="this.dataSource.data.length!=0">
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 demo-table">


    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="header">  ID </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="header">  Nombre </th>
        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
      </ng-container>
      <ng-container matColumnDef="username" class="header">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </th>
        <td mat-cell *matCellDef="let row"> {{row.username}} </td>
      </ng-container>
      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
        <td mat-cell *matCellDef="let row"> {{row.state}} </td>
      </ng-container>
      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Creado </th>
        <td mat-cell *matCellDef="let row"> {{dateform(row.createdAt)}} </td>
      </ng-container>
      <ng-container matColumnDef="updatedAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Actualizado </th>
        <td mat-cell *matCellDef="let row"> {{dateformupdate(row.updatedAt)}} </td>
      </ng-container>
      <ng-container matColumnDef="changes">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cambios </th>
        <td mat-cell *matCellDef="let row">  
            <button mat-raised-button color="accent" (click)="edit(row)">Editar</button>

        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>














</table>
</div>
<div *ngIf="this.dataSource.data.length==0">
<h1>No hay datos Disponibles</h1>


</div>